# Build artifacts
live/*.iso
live/*.contents
live/*.files
live/*.hybrid.iso
live/*.hybrid.iso.zsync
live/*.packages
live/*.zsync
live/chroot/
live/binary/
live/.build/
live/cache/
live/config/binary
live/config/bootstrap
live/config/chroot
live/config/common
live/config/source
live/config/hooks/normal/[1-9]*.hook.chroot
live/config/hooks/live/00*.hook.chroot
live/config/package-lists/live.list.chroot
*.log

# Editor
*.swp
*.swo
*~
.vscode/
.idea/
