source /boot/grub/config.cfg

# jalos Live boot
menuentry "jalos Live (amd64)" --hotkey=l {
	linux	/live/vmlinuz boot=live components quiet splash findiso=${iso_path}
	initrd	/live/initrd.img
}
menuentry "jalos Live (amd64 fail-safe mode)" {
	linux	/live/vmlinuz boot=live components memtest noapic noapm nodma nomce nosmp nosplash vga=788
	initrd	/live/initrd.img
}

# Installer (if any)
if [ -e /install/vmlinuz ]; then

source	/boot/grub/install_start.cfg

submenu 'Advanced install options ...' --hotkey=a {

	source /boot/grub/theme.cfg

	source	/boot/grub/install.cfg

}
fi

submenu 'Utilities...' --hotkey=u {

	source /boot/grub/theme.cfg

	# Memtest (if any)
	if [ -e /boot/memtest ]; then
		source /boot/grub/memtest.cfg
	fi

	# Firmware setup (UEFI)
	if [ "${grub_platform}" = "efi" ]; then
		menuentry "UEFI Firmware Settings" --hotkey=f {
			fwsetup
		}
	fi

	# Verify the checksums
	menuentry "Verify integrity of the boot medium" --hotkey=v {
		linux	/live/vmlinuz boot=live components findiso=${iso_path} verify-checksums
		initrd	/live/initrd.img
	}
}
